#Contact {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(#333333, #111111);
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

#Contact .mail {
  font-size: 28pt;
  margin-bottom: 40px;
}

#Contact .mail a,
#Contact .mail a:visited {
  color: #f42f70;
}

#Contact .mail a:hover {
  color: #f0ff00;
}

#Contact .social {
  font-size: 16pt;
}

#Contact .social a {
  text-decoration: none;
}
