#Effect h2 {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-size: 20vmin;
  margin: 0;
  padding: 0;
}

#Effect .wrap {
  perspective: 400px;
  perspective-origin: 50% 50%;
}

#Effect .cube {
  margin: 0 auto;
  position: relative;
  width: 60vw;
  height: 220px;
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: rotate 30s infinite linear;
  -webkit-animation: rotate 30s infinite linear;
}

#Effect .cube > span {
  position: absolute;
  left: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: white;
}

/* xl 0 */
@media (min-width: 1200px) and (max-width: 1399px) {
  #Effect .cube {
    width: 65vw;
  }
}

/* xl 1 */
@media (min-width: 1400px) and (max-width: 1599px) {
  #Effect .cube {
    width: 55vw;
  }
}

/* xl 2 */
@media (min-width: 1600px) {
  #Effect .cube {
    width: 50vw;
  }
}

#Effect .front {
  transform: translateZ(63.5085px);
  -ms-transform: translateZ(63.5085px);
  -webkit-transform: translateZ(63.5085px);
}

#Effect .top {
  transform: rotateX(-120deg) translateZ(63.5085px);
  -ms-transform: rotateX(-120deg) translateZ(63.5085px);
  -webkit-transform: rotateX(-120deg) translateZ(63.5085px);
}

#Effect .bottom {
  transform: rotateX(120deg) translateZ(63.5085px);
  -ms-transform: rotateX(120deg) translateZ(63.5085px);
  -webkit-transform: rotateX(120deg) translateZ(63.5085px);
}

@keyframes rotate {
  from {
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-360deg);
    -ms-transform: rotateX(-360deg);
    -webkit-transform: rotateX(-360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-360deg);
    -ms-transform: rotateX(-360deg);
    -webkit-transform: rotateX(-360deg);
  }
}
