#Header {
  padding: 0;
  width: 100%;
  height: 100vh;
  display: inline-flex;
  font-family: 'Kanit', sans-serif;
  font-size: 20vmin;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
}

#Header > #canvas {
  position: absolute;
  z-index: -100;
}

#Header #wcg {
  margin: auto auto;
}

#Header span {
  background: linear-gradient(45deg, #38066e, #f42f70, #f05500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
