.member img {
  border: 10px solid #ffffff;
}

.member h4,
.member h5 {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.member h4 {
  font-size: 28pt;
  margin-top: 1em;
}

.member .color-black {
  color: #000000;
}
