.post .card-title {
  font-family: 'Kanit', sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
  min-height: 2.5em;
}

.post .card-text {
  height: 75px;
  overflow-y: hidden;
}

.post .btn {
  width: 100%;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.post .btn i {
  margin-right: 0.5em;
}

.post a,
.post a:visited {
  background-color: #38066e;
  color: #ffffff;
}

.post a:hover {
  background-color: #f42f70;
}
